host: "0.0.0.0"
port: 5009
murl: "APIURL/emails"
userurl: "APIURL/clusters"
log:
    console: true
    appendfile: false
    file: "./log/omega-es.log"
    level: "debug"
    formatter: "text"
    maxSize: 1024000
es:
    hosts: "elasticsearch"
    port: 9200
redis:
    host: "redis"
    port: 6379
mysql:
    host: "mysql" 
    port: 3306
    maxIdleConns: 5
    maxOpenConns: 50
    database: "alarm"
    username: "root"
    password: "111111"
